@import '../node_modules/bootstrap/scss/bootstrap.scss';

@property --bg-color {
  syntax: '<color>';
  initial-value: #1fa5b0;
  inherits: false;
}

@property --bg-color-2 {
  syntax: '<color>';
  initial-value: #03091a;
  inherits: false;
}

.game {

    background-color: black;
    background-image: radial-gradient(var(--bg-color), var(--bg-color-2) 120%, black 150%);
    height: 100dvh;
    overflow: hidden;
    color: white;
    transition: --bg-color .4s ease-in-out, --bg-color-2 .4s ease-in-out;
    
    font:
        1.3rem Inconsolata,
        monospace;
    text-shadow: 0 0 5px #c8c8c8;
    position: relative;

    &::after {
        content: '';
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: repeating-linear-gradient(0deg, rgba(black, 0.15), rgba(black, 0.15) 1px, transparent 1px, transparent 2px);
    }
    ::selection {
        background: #0080ff;
        text-shadow: none;
    }

    display: flex;
    flex-direction: column;

    & > div {
        flex-grow: 1;
        overflow-y: scroll;
        padding: 0.5rem;
    }

    .input-option {
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
